@import 'primeicons/primeicons.css';

.progress {
    border-radius: 1rem !important;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }